
          
              /* ---------=============   Estimates Card Header  ==========--------- */
          
.cardheader{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}