    
          /* ----============= Header  ==========---- */
    


.header{
    display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 25px;
        height: 70px;
        background-color: #1a1a1a;
    }


                  /* ----============= Header Button ==========---- */
.header Button{
   border: none !important;
   font-size: 11px !important;
   color: #8F8F8F ;
    border-radius: 20px !important;
} 
.header Button:hover {
    background-color: #fff !important;
        border-radius: 20px !important;
        color: black !important;
        font-weight: 700;
}

.pageSelected{
background-color: #fff !important;
    border-radius: 20px !important;
    color: black !important;
    font-weight: 700;
}


                  /* ----============= Header Left ==========---- */
.headerLeft{
    display: flex;
    gap: 15px;
    align-items: center;
}
.headerLeft h3{
    color: whitesmoke;
    font-weight: 300;
}

 


              /* ----============= Header Middle ==========---- */

.headerMiddle {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}


  

/* ----============= Header Rightt ==========---- */
.headerRight {
    display: flex;
    align-items: center;
    gap: 5px;
}


/* ----============= Header MenuBtn ==========---- */


.headerRight .MoreVert {
    color: #fff !important;
    display: none;
}
.headerRight .MoreVert:hover {
    color: black !important;
}



    /* ----============= Active Button ==========---- */

.active{
    background-color: #fff !important;
        border-radius: 20px !important;
}

        /* ----============= Custom Button ==========---- */
.aktive{
    background-color: #fff !important;
    border-radius: 20px !important;
    color: #1a1a1a !important;
}






        /* ----============= Media Query for large devices ==========---- */

@media only screen and (max-width:1050px) {
.headerMiddle {
    display: none;
}
.headerRight .MoreVert {
    display: block;
}
        /* ----============= Header OpenMenu ==========---- */
    
        .openMenu {
            position: absolute;
            top: 70px;
            left: 0;
            background: black;
            width: 100%;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 999;
        }
}


        /* ----============= Media Query for small devices ==========---- */

@media only screen and (max-width:530px) {
.headerLeft {
    gap: 0px;
}
 .headerLeft h3 {
     font-size: 15px !important;
 }

}





@media only screen and (max-width:470px) {
   /* #HeaderAddBtn {
        display: none;
    } */
   
        .headerRight {
            gap:0;
        }
    .header{
            margin: 0px 1px;
    }
    
    .header Button {
        font-size: 8px !important;
    }
        .headerLeft h3 {
        font-size: 9px !important;
        }
        .openMenu{
            gap: 30px 0;
        }
}